.box {
  margin: 5px;
  border: 7px dotted;
  border-color: #c793c7;
  
  animation: move 5s infinite;
  
  border-block-end-width: 7px;
  border-block-end-color: rgb(130, 191, 244);
  border-block-start-color: rgb(130, 191, 244);
  
  width: 5rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 25px;
  padding: 13px;
  margin-bottom: 9px;

  border-top-right-radius: 15px 20px;
  border-top-left-radius: 15px 20px;

  border-bottom-right-radius: 15px 20px;
  border-bottom-left-radius: 15px 20px;
  
  
}



@keyframes move {
  from {background-color: #FFEAEA;}
  to {background-color: rgb(255, 222, 250);}

}


