.box {
  margin: 5px;
  border: 7px dotted;
  border-color: #c793c7;
  background-color: #FFEAEA;
  
  border-block-end-width: 7px;
  border-block-end-color: rgb(130, 191, 244);
  border-block-start-color: rgb(130, 191, 244);
  
  width: 5rem;
  height: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  font-weight: bold;
  font-size: 26px;
  padding: 15px;
}


