.mainContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.questionsContainer {
  display: flex;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columnItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  color: blue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
}

.playerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.paragraph {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 0px;
  margin-top: 108px;
  font-size: 21px;
}

