.mainContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.questionsContainer {
  display: flex;
}

.columnItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  color: blue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
}
