.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    background-color: #CD50D2;
    padding: 10px;
}

.tab{
    font-family: 'Shantell Sans';
    text-decoration: underline;
    padding: 0px 5px;
}

.tab:hover{
    cursor: pointer;
}